<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="#">Bookings</a>
        <a href="#">My Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <div class="page-container">
        <h1>Welcome, {{ session['user_id'] }}</h1>
        <p>Discover your next adventure!</p>
        <ul>
            {% for destination in destinations %}
                <li><a href="{{ url_for('destination', destination_id=destination[0]) }}">{{ destination[1] }}</a>
                    <p>Country: {{destination[2]}}</p>
                    <p>Description: {{destination[3]}}</p>
                    <p>Popularity: {{destination[4]}}</p>
                </li>

            {% endfor %}
        </ul>
    </div>
</body>
</html>
